<!DOCTYPE html>
<html ng-app="labApp" >
<head>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="core.js"></script>

</head>
<body ng-controller="labCtrl">


<div class="wrap">
    <button class="btn btn-success pull-right new" ng-click="addNew(answers, new)"><span class="glyphicon glyphicon-plus"></span>  Add new</button>
    <form ng-submit="sendAnswers(answers)" >

        <input type="text" class="form-control new" placeholder="Enter min temperature"  ng-model="new.min"><br/>
        <input type="text" class="form-control new" placeholder="Enter max temperature"  ng-model="new.max"><br/>
        <input type="text" class="form-control new" placeholder="Enter name"  ng-model="new.name"><br/>
        <input type="text" class="form-control" placeholder="Enter temperature" required ng-model="answers.temp"><br/>
        <div id="checkboxes">
            <label class="btn btn-primary">
                <input type="checkbox" name="weather" ng-model="answers.snow"/> Snow
            </label>
            <label class="btn btn-primary">
                 <input type="checkbox" name="weather"  ng-model="answers.smog"/> Smog
            </label>
            <label class="btn btn-primary">
                 <input type="checkbox" name="weather" value="Rain" ng-model="answers.rain"/> Rain
            </label>
            <label class="btn btn-primary">
                 <input type="checkbox" name="weather" value="Sunny" ng-model="answers.sun"/> Sunny
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="weather" value="Humidity" ng-model="answers.humid"/> Humidity<br />
            </label>
        </div>
        <div id="radio">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" value="sea" checked="true" autocomplete="off" ng-model="answers.location"> Near sea
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" value="desert" autocomplete="off" ng-model="answers.location"> Desert
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" value="forest" autocomplete="off" ng-model="answers.location"> Forests
                </label>
        </div>
        <input type="submit" class="btn btn-danger pull-right" value="Check input">

    </form>
    <button class="btn btn-info pull-right" ng-click="viewAll()">View all</button>
    <button class="btn btn-success pull-right" ng-click="more()">More fields</button>
</div>
<div class="results">
<p ng-show="found">Results:</p>
<ul ng-show="found" ng-repeat="f in found">
<p> {{f}}<p>
</ul>
</div>
    <div class="all" ng-repeat="climate in climates">
        <p>{{climate.name}}</p>
        <p>Min temp: {{climate.min}} degrees</p>
        <p>Max temp: {{climate.max}} degrees</p>
        <p>Frequent snow: {{climate.snow}}</p>
        <p>Frequent rain: {{climate.rain}}</p>
        <p>Sunny weather: {{climate.sun}}</p>
        <p>Humidity: {{climate.humid}}</p>
        <p>Location: Near {{climate.location}}</p>
        <button class="btn btn-warning pull-right" ng-click="delete(climate._id)">Delete</button>
        <button class="btn btn-success pull-right" ng-click="edit($index)">Edit</button>
    </div>

<div id="modal">
    <div class="modal-header">
        <div class="close" ng-click="closeModal()">X</div>
        <h3>Edit rule</h3>
    </div>
    <div class="modal-body">
        <form name="editForm" ng-submit="save(editable)" >
            <fieldset class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="editable.name">
            </fieldset>
            <fieldset class="form-group">
                <label>Min temp</label>
                <input type="text" class="form-control" ng-model="editable.min">
            </fieldset>
            <fieldset class="form-group">
                <label>Max temp</label>
                <input type="text" class="form-control" ng-model="editable.max">
            </fieldset>
            <fieldset class="form-group">
                <label>Frequent snow</label>
                <input type="checkbox" class="form-control" ng-model="editable.snow">
            </fieldset>
            <fieldset class="form-group">
                <label>Frequent rain</label>
                <input type="checkbox" class="form-control" ng-model="editable.rain">
            </fieldset>
            <fieldset class="form-group">
                <label>Sunny weather</label>
                <input type="checkbox" class="form-control" ng-model="editable.sun">
            </fieldset>
            <fieldset class="form-group">
                <label>Humidity</label>
                <input type="checkbox" class="form-control" ng-model="editable.humid">
            </fieldset>
            <fieldset class="form-group">
                <label>Location</label>
                <input type="checkbox" class="form-control" ng-model="editable.location">
            </fieldset>
            <input type="submit" class="btn btn-success pull-right" value="Save"/>
        </form>

    </div>
</div>
<div id="blackout"></div>


</body>
</html>